$color-primary: #ffffff;
$color-primary-shade: #f9fafc;
$color-secondary: #f4f6f9;
$color-accent: #F9de4b;
$color-contrast: #1b2a57;
$color-gray: #b0b0b1;
$color-black: #1a1a1a;
$color-error-border: #ef9d9d;
$color-error: #e46161;
$color-default-background: #c0c7d990;
$color-black-transparent: rgba(0, 0, 0, 0.5);
